<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
  <%- include('./../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>This is Home Page</h1>
      <h4>Dynamic Data:</h4>
      <div>Username = <%= data %> </div>
    </div>
  </div>
</div>
</main>


</body>
</html>